@import "variable.scss";

y{
	font-family: $bodyfont; font-size: $bodyfsize-phone; color: $bodytext; line-height: 1.5;
	@include for-size(tablet-large) {
		font-size: $bodyfsize-desktop; font-weight: $flight;
	}
}
img { 
	max-width: 100%;
}
a.phonelink, a.phonelink:hover, a.phonelink:focus {
	cursor: default; text-decoration: none !important; color: inherit !important;
	@include for-size(phone-only) {
		text-decoration: underline !important;
	}
}

// text-colors
.text-primary{ color: $i-primary !important }
.text-secondary{ color: $i-secondary !important }
.text-light{ color: $i-white !important }
.text-dark{ color: $i-dark !important }
.text-black{ color: $i-black !important }

// Background Colors
.bg-primary{ background-color: $i-primary !important }
.bg-secondary{ background-color: $i-secondary !important }
.bg-info{ background-color: $i-info !important }
.bg-light{ background-color: $i-white !important }
.bg-dark{ background-color: $i-dark !important }
.bg-black{ background-color: $i-black !important }

// Animation Transition
@mixin ani-transition($transition) {
	@if $transition == slow {
		transition-duration: .6s; -webkit-transition-duration: .6s;	
	} @else if $transition == fast {
		transition-duration: .3s; -webkit-transition-duration: .3s;
	} @else if $transition == normal {
		transition-duration: .4s; -webkit-transition-duration: .4s;
	}
}

// Round Style
@mixin i-round($round) {
	@if $round == circle {
		border-radius: 100%;
	} @else if $round == rounded {
		border-radius: 0.5rem;;
	} @else if $round == btn-round {
		border-radius: 3px;
	}
}
// Font Weight
.fw-light { font-weight: $flight !important; }
.fw-normal { font-weight: $fnormal !important; }
.fw-sbold { font-weight: $fsbold !important; }
.fw-bold { font-weight: $fbold !important; }

// Titles
%heading { font-family: $bodyfont; font-weight: $fsbold; }
h1, .h1 {
	@extend %heading;
	font-size: $title-h1-phone; font-weight: $flight; line-height: 1.2; margin-bottom: 1rem;
	@include for-size(tablet-large) {
		font-size: $title-h1-desktop; 
	}
}
h2, .h2 { 
	@extend %heading;
	font-size: $title-h2-phone; font-weight: $flight; line-height: 1.2; margin-bottom: 1rem;
	@include for-size(tablet-large) {
		font-size: $title-h2-desktop; 
	}
}
h3, .h3 { 
	@extend %heading;
	font-size: $title-h2-phone; font-weight: $flight; line-height: 1.2; margin-bottom: 1rem;
	@include for-size(tablet-large) {
		font-size: $title-h2-desktop; 
	}
}
h4, .h4 { 
	@extend %heading;
}
h5, .h5 { 
	@extend %heading;
}
h6, .h6 { 
	@extend %heading;
}